.blocks {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.block {
	width: 50%;
	height: 250px;
	text-align: center;
	align-content: center;
	background-color: darkred;
	border-radius: 20px;
}
.block > p {
	font-size: 50px;
	color: #554;
}
.block > p:hover {
	color: #fff;
	font-size: 20px;
}